In [63]:
import pandas as pd
import re

In [307]:
df = pd.read_csv("biorxiv.csv")

In [133]:
#Affiliatin_nums: Replace NAs with 1, for single affiliation.
#Affiliation_nums: Split into list
df.affiliation_nums = df.affiliation_nums.fillna('1')
df.affiliation_nums = df.affiliation_nums.apply(str.split,sep=',')

In [134]:
#Affiliation_text: Replace NAs with empty string
#Run clean_affiliation, to 
def clean_affiliation(x):
    x = x.split(';')
    for i in range(len(x)):
        x[i] = re.sub('(\\n)(\\t)+','',x[i])
        x[i] = x[i].strip()
        x[i] = re.sub('^,+','',x[i])
        x[i] = x[i].strip()
    return(x)
df.affiliation_text = df.affiliation_text.fillna('')
df.affiliation_text = df.affiliation_text.apply(clean_affiliation)

In [310]:
def clean_downloads(x):
    x = x.split(',')
    x = map(lambda y: re.sub('<tr class="odd">','',y),x)
    x = map(lambda y: re.sub('<tr class="even">','',y),x)
    x = map(lambda y: re.sub(' </tr>','',y),x)
    x = list(map(lambda y: y.split('</td>'),x))
    for i in range(len(x)):
        x[i] = list(map(lambda y: re.sub('^<td>','',y),x[i]))
    return x
df.downloads = df.downloads.fillna('')
df.downloads = df.downloads.apply(clean_downloads)

AttributeError: 'list' object has no attribute 'split'

In [309]:
df.downloads.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[None]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            21
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     8
[None, None, None, None, None, None, None, None, None, None]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       2
[None, None, None, None, None, None, None, None, None, None, None, None]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           2
[None, None, None, None, None, None, None, None, None]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
[[Jan 2019, 554, 0, 171], [Feb 2019, 1780, 0, 999], [Mar 2019, 371, 0, 184], [Apr 2019, 173, 0, 129], [May 2019, 118, 0, 65], [Jun 2019, 122, 0, 37], [Jul 2019, 101, 0, 40], [Aug 2019, 68, 0, 35], [Sep 2019, 81, 0, 35], [Oct 2019, 165, 0, 45], [Nov 2019, 114, 0, 46], [Dec 2019, 77, 2, 27], [Jan 2020, 75, 10, 44], [Feb 2020, 125, 30, 32], [Mar 2020, 89, 17, 17], [Apr 2020, 51, 5, 22], [May 2020, 62, 7, 20], [Jun 2020, 61, 3, 30], [Jul 2020, 65, 5, 18], [Aug 2020, 58, 2, 20], [Sep 2020, 78, 4, 16], [Oct 2020, 101, 4, 18]]                                                                                      1
[[Jan 2020, 1859, 43, 531], [Feb 2020, 343, 62, 133], [Mar 2020, 235, 51, 85], [Apr 2020, 225, 56, 132], [May 2020, 270, 60, 122], [Jun 2020, 433, 59, 176], [Jul 2020, 270, 54, 165], [Aug 2020, 218, 69, 168], [Sep 2020, 296, 107, 201], [Oct 2020, 186, 97, 165]]                                                                                                                                                                                                                                                                                                                                                              1
[[Sep 2018, 482, 0, 71], [Oct 2018, 176, 0, 53], [Nov 2018, 95, 0, 33], [Dec 2018, 42, 0, 42], [Jan 2019, 54, 0, 35], [Feb 2019, 72, 0, 18], [Mar 2019, 29, 0, 21], [Apr 2019, 32, 1, 22], [May 2019, 32, 0, 16], [Jun 2019, 33, 4, 23], [Jul 2019, 34, 5, 22], [Aug 2019, 48, 33, 16], [Sep 2019, 30, 21, 22], [Oct 2019, 31, 38, 26], [Nov 2019, 40, 34, 13], [Dec 2019, 21, 16, 30], [Jan 2020, 43, 25, 11], [Feb 2020, 55, 28, 11], [Mar 2020, 33, 28, 8], [Apr 2020, 13, 12, 11], [May 2020, 23, 15, 8], [Jun 2020, 21, 9, 6], [Jul 2020, 8, 12, 9], [Aug 2020, 22, 21, 7], [Sep 2020, 34, 9, 9], [Oct 2020, 36, 14, 12]]     1
[[Jul 2019, 341, 4, 69], [Aug 2019, 41, 17, 9], [Sep 2019, 47, 8, 22], [Oct 2019, 38, 8, 20], [Nov 2019, 44, 16, 17], [Dec 2019, 50, 21, 12], [Jan 2020, 63, 14, 24], [Feb 2020, 55, 15, 9], [Mar 2020, 30, 4, 11], [Apr 2020, 22, 7, 17], [May 2020, 24, 4, 12], [Jun 2020, 38, 2, 9], [Jul 2020, 19, 0, 2], [Aug 2020, 20, 1, 4], [Sep 2020, 18, 0, 7], [Oct 2020, 17, 1, 3]]                                                                                                                                                                                                                                                    1
[[Sep 2020, 5030, 30, 39], [Oct 2020, 47, 6, 22]]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Name: downloads, Length: 3609, dtype: int64

In [275]:
def clean_downloads(x):
    x = x.split(',')
    x = map(lambda y: re.sub('<tr class="odd">','',y),x)
    x = map(lambda y: re.sub('<tr class="even">','',y),x)
    x = map(lambda y: re.sub(' </tr>','',y),x)
    x = list(map(lambda y: y.split('</td>'),x))
    for i in range(len(x)):
        x[i] = list(map(lambda y: re.sub('^<td>','',y),x[i]))
    for i in range(len(x)):
        del x[i][4]
    return x

In [302]:
test4=df.downloads.values
for i in range(len(test4)):
    for j in range(len(test4[i])):
        for k in range(len(test4[i][j])):
            if test4[i][j][k] == "problem":
                  print(test4[i][j])

In [210]:
test = df.downloads.tail(100)

In [303]:
test4

array([list([['Oct 2020', '500', '27', '170']]),
       list([['Oct 2020', '343', '38', '63']]),
       list([['Oct 2020', '280', '28', '68']]), ...,
       list([['Sep 2020', '372', '2', '38'], ['Oct 2020', '157', '28', '20']]),
       list([['Sep 2020', '248', '2', '45'], ['Oct 2020', '160', '60', '47']]),
       list([['Sep 2020', '223', '2', '31'], ['Oct 2020', '165', '39', '45']])],
      dtype=object)

In [231]:
clean_downloads(test[3638])

[['Sep 2020', '223', '2', '31', ' </'],
 ['d>Oct 2020', '165', '39', '45', ' </']]

In [155]:
result = {}
for i in range(len(test)):
    for j in range(len(test[i]))
        result.update(test[i])

In [166]:
result ={}
for i in range(len(test)):
    for key in test[i]:
        if key in result.keys():
            result[key] += 1
        else:
            result[key]=1

In [175]:
df.downloads.head()[2]

'<tr class="odd"><td>Oct 2020</td><td>280</td><td>28</td><td>68</td> </tr>'

In [26]:
affs_type=df.affiliation_nums.apply(type)

In [36]:
affs_type[affs_type==float]

22      <class 'float'>
171     <class 'float'>
180     <class 'float'>
197     <class 'float'>
202     <class 'float'>
             ...
1394    <class 'float'>
1408    <class 'float'>
1430    <class 'float'>
1438    <class 'float'>
1817    <class 'float'>
Name: affiliation_nums, Length: 75, dtype: object

In [94]:
test = df.affiliation_text[2]
test

'\n\t\t\t\t, H. Lee Moffitt Cancer Center & Research Institute, Tampa, Florida;\n\t\t\t,\n\t\t\t\t, H. Lee Moffitt Cancer Center & Research Institute;\n\t\t\t,\n\t\t\t\t, Air Force Academy\n\t\t\t'

In [95]:
test = test.split(';')

In [103]:
re.sub('(\\n)(\\t)+','',test[0])

', H. Lee Moffitt Cancer Center & Research Institute, Tampa, Florida'

In [104]:
def clean_affiliation(x):
    x = x.split(';')
    for i in range(len(x)):
        x[i] = re.sub('(\\n)(\\t)+','',x[i])
    return(x)

In [108]:
test = df.affiliation_text.head()
test = test.apply(clean_affiliation)
test[0]

In [93]:
re.match(',',test[2].strip()).lastindex

In [113]:
test[3]

[', University of Cambridge',
 ',, Cancer Evolution and Genome Instability Laboratory, Francis Crick Institute, London, UK',
 ',, Cambridge University Hospitals',
 ',, Astrazeneca',
 ',, The Francis Crick Institute',
 ',, University College of London',
 ',, Francis Crick Institute',
 ',, BC Cancer Agency',
 ',, Imperial College of London']

In [116]:
df.affiliation_text

0       \n\t\t\t\t, University of Southern California\...
1       , Glasgow G61 1QH, United Kingdom,, Glasgow G6...
2       \n\t\t\t\t, H. Lee Moffitt Cancer Center & Res...
3       \n\t\t\t\t, University of Cambridge;\n\t\t\t,\...
4       \n\t\t\t\t, Helen Diller Comprehensive Cancer ...
                              ...
3634    , Tucson, Arizona,, Tucson, Arizona,, Tucson, ...
3635                                                  NaN
3636    , Houston TX,, Houston TX,, Houston TX,, Houst...
3637    , Beijing 100037, China,, Chengdu 610041, Chin...
3638    , Auckland, New Zealand, Auckland, New Zealand...
Name: affiliation_text, Length: 3639, dtype: object